In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ecommerce-clothing-store/products_skus.csv
/kaggle/input/ecommerce-clothing-store/products.csv
/kaggle/input/ecommerce-clothing-store/traffic.csv
/kaggle/input/ecommerce-clothing-store/orders_items.csv
/kaggle/input/ecommerce-clothing-store/orders.csv
/kaggle/input/ecommerce-clothing-store/customers.csv
/kaggle/input/ecommerce-clothing-store/transactions.csv

In [ ]:
# The dataset of this project is from an online store, which includes product information and
# customer transaction records from 2016 to 2018. The ultimate goal of the company is to
# improve the sales. In this project, you’re supposed to find out the online shopping behaviors of
# the customers and make marketing suggestions for the store in order to increase the
# customers’ life-time value to the company.

In [18]:
customers = pd.read_csv(r'/kaggle/input/ecommerce-clothing-store/customers.csv') 
traffic = pd.read_csv(r'/kaggle/input/ecommerce-clothing-store/traffic.csv').drop(columns=['index'])
products = pd.read_csv(r'/kaggle/input/ecommerce-clothing-store/products.csv')
prod_sku = pd.read_csv(r'/kaggle/input/ecommerce-clothing-store/products_skus.csv')
orders = pd.read_csv(r'/kaggle/input/ecommerce-clothing-store/orders.csv')
ord_item = pd.read_csv(r'/kaggle/input/ecommerce-clothing-store/orders_items.csv')
transactions = pd.read_csv(r'/kaggle/input/ecommerce-clothing-store/transactions.csv')

In [19]:
# customer => website (traffic) => product/product sku => order/order items => transaction

,order_id,id,parent_id,amount,error_code,kind,status,created_at
0,7675398239,8330669343,NaN,44.57,NaN,authorization,success,2016-08-21
1,7675398239,8331258783,8.330669e+09,0.00,NaN,void,success,2016-08-21
2,7676331935,8331688479,NaN,124.55,NaN,authorization,success,2016-08-21
3,7676363167,8331722975,NaN,97.68,NaN,authorization,success,2016-08-21
4,7676539359,8331919391,NaN,131.10,NaN,authorization,success,2016-08-21
...,...,...,...,...,...,...,...,...
27558,940077422077,1151351526909,NaN,98.55,NaN,sale,success,2018-03-21
27559,940146726397,1151433381373,NaN,53.66,NaN,sale,success,2018-03-21
27560,940182246909,1151475619325,NaN,189.44,NaN,sale,success,2018-03-21
27561,938832270845,1151547020797,1.150167e+12,98.55,NaN,refund,success,2018-03-21
27562,940287628797,1151600104957,NaN,404.00,NaN,sale,success,2018-03-21